@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*reset de margem*/
* {
margin: 0;
padding: 0;
}

/*posicionamento logo branco*/
header img{
display: block;
margin: 75px 0 0 360px;
}

/*Estilo Desktop*/
body{
background-color: #0E1014;
   
}

h1{
color: #FFFFFF;
text-align: center;
font-size: 64px;
font-family: "Unbounded", sans-serif;
margin-top: 60px;
}

h1 span{
color: #9747FF;

}

p{
font-family: "Poppins", sans-serif;
font-size: 24px;
margin: 24px auto 0;
color: #FFFFFF;
text-align: center;
width: 792px;
}

a{
font-family: "Poppins", sans-serif;
color: #FFFFFF;
font-size: 24px;
text-decoration: none;
background-color: #9747FF;
width: 340px;
height: 66px;
display: block;
text-align: center;
line-height: 66px;
border-radius: 36px;
margin: 40px auto;
}

a:hover{
background-color: #8233E8;
}

section img{
display: block;
width: 791px;
height: 446px;
margin: auto;
}
/*mudança para tablets*/
@media(max-width: 768px){

    header img{
    margin: 65px;
    }

    p{
    max-width: 648px;
    }

}

/*mudança para celular*/
@media(max-width: 375px){

    header img{
    margin: 32px 0 0 16px;
    }

    h1{
    font-size: 40px;

    }

    p{
    width: 340px;
    font-size: 20px;
    }

    a{
    width: 251px;
    font-size: 20px;

    }

    section img{
    width: 340px;
    height: 230px;
    }
}
    
